/* HEADER */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* SCROLL */
.offer__scroll-container {
    max-height: var(--macOS-visualiser-scroll-height);
    overflow-y: auto;
    overflow-x: hidden;
}

.offer__scroll-container::-webkit-scrollbar {
    width: 1px;
}

.offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}
/* FIM SCROLL */

.main-container section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: var(--macOS-window-border-radius);
    background-color: var(--color-bg-main-container-section-border);
    width: var(--macOS-window-width);

    margin: 10px 0 0 0;
}

#project-section {
    margin: 60px 0 0 0;
}

.section__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: var(--macOS-window-header-margin);
    padding: var(--macOS-window-header-pading);
}

.section__header__title {
    font-size: var(--macOS-window-header-pading);
    font-weight: var(--macOS-window-header-title-font-weight);
    color: var(--color-text-navgaition);

    width: var(--macOS-window-header-title-width);
    position: relative;
    left: var(--macOS-window-header-title-position);
}

.section__header_circles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px
}

.section__header_circles .circle-color1 {
    color: var(--color-circle1);
}

.section__header_circles .circle-color2 {
    color: var(--color-circle2);
}

.section__header_circles .circle-color3 {
    color: var(--color-circle3);
}

.section__content {
    background-color: var(--color-bg-main-container-section-content);
    height: var(--macOS-window-content-height);
    width: var(--macOS-window-content-width);
    padding: 10px;
    margin: 0 0 10px 0;
}

.section__content p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-text-main-content);
    justify-content: center;
}