@media screen and (max-width: 440px) {
    :root {
        --margin-top-screen: 30px;

        /* SIDE BAR SIZES */
        --sidebar-width: 100vw;
        --sidebar-img-width: 250px;
        --sidebar-img-height: 250px;
        --sidebar-img-border-size: 5px;
        --siddebar-h1-font-size: 1.5rem;
        --siddebar-h2-font-size: 1rem;

        /* "MACOS" WINDOW SIZES */
        --macOS-window-width: 97.5%;

        /* "MACOS" WINDOW HEADER SIZES */
        --macOS-window-header-margin: 15px 0;
        --macOS-window-header-pading: 0 15px;
        --macOS-window-header-title-font-size: 1.15rem;
        --macOS-window-header-title-font-weight: 700;
        --macOS-window-header-title-width: 70vw;

        /* PROJECT CARD CAROUSEL SIZES*/
        --project-cards-carousel-limit-width: 80.36vw;
        --project-cards-carousel-nav-width: 100%;

        /* PROJECT CARD SIZES*/
        --project-cards-width: 80vw;
        --project-cards-title-font-size: 140%;
        
        /* PROJECT CARDS TITLE SIZES*/
        --project-cards-title-height: 100px;

        /* PROJECT CARDS IMG  SIZES*/
        --project-cards-img-width: 66vw;
        --project-cards-img-height: 33vw;
    }

    .sidebar {
        margin: 100px 0 0 0;
    }

    .main-container {
        margin: var(--margin-top-screen) 0 0 10px;
    }

    .main-container section:last-of-type {
        margin-bottom: 10px;
    }

    .project-card-img img {
        width: var(--project-cards-img-width);
        height: var(--project-cards-img-height);
    }

    .project-cards__about span {
        padding: 0 20px;
    }
}

@media screen and (max-width: 440px) and (max-height: 935px) {
    :root {
        --margin-top-screen: 50px;

        /* "MACOS" WINDOW CONTENT  SIZES */
        --macOS-window-content-height: 50vh;

        /* PROJECT CARD CAROUSEL SIZES*/
        --project-cards-carousel-limit-height: 50vh;

        /* "MACOS" WINDOW CONTENT  SIZES */
        --macOS-window-content-width: 95.1%;

        /* PROJECT CARD SIZES*/
        --project-cards-height: 45vh;

        /* PROJECT CARDS TECHS IMG SIZES*/
        --project-cards-techs-icon-height: 20px;
        --project-cards-techs-icon-width: 20px;
    }

    .project-cards__about {
        padding: 10px 0;
        font-size: small;
    }
}

@media screen and (max-width: 440px) and (max-height: 750px) {
    :root {
        /* "MACOS" WINDOW CONTENT  SIZES */
        --macOS-window-content-height: 55vh;

        /* PROJECT CARD CAROUSEL SIZES*/
        --project-cards-carousel-limit-height: 55vh;

        /* "MACOS" WINDOW CONTENT  SIZES */
        --macOS-window-content-width: 94.1%;

        /* PROJECT CARD SIZES*/
        --project-cards-height: 50vh;

        /* PROJECT CARDS TECHS IMG SIZES*/
        --project-cards-techs-icon-height: 10px;
        --project-cards-techs-icon-width: 10px;
    }

    .project-cards__about {
        padding: 3px 0;
        font-size: small;
    }
}

@media screen and (max-width: 440px) and (max-height: 670px) {
    :root {
        /* "MACOS" WINDOW CONTENT  SIZES */
        --macOS-window-content-height: 60vh;

        /* PROJECT CARD CAROUSEL SIZES*/
        --project-cards-carousel-limit-height: 60vh;

        /* "MACOS" WINDOW CONTENT  SIZES */
        --macOS-window-content-width: 95%;

        /* PROJECT CARD SIZES*/
        --project-cards-height: 55vh;
    }

    .project-cards__about {
        padding: 5px 0;
        font-size: smaller;
    }

    .project-cards__techs {
        display: none;
    }
}