@media screen and (max-width: 768px) {
    :root {
        /* BODY SIZES */
        --margin-top-screen: 3.125rem;

        /* SIDE BAR SIZES */
        --sidebar-width: 100vw;
        --sidebar-img-width: 18.75rem;
        --sidebar-img-height: 18.75rem;
        --sidebar-img-border-size: 0.3125rem;
        --siddebar-h1-font-size: 2rem;
        --siddebar-h2-font-size: 1.5rem;

        /* "MACOS" WINDOW SIZES */
        --macOS-window-width: 100%;

        /* "MACOS" WINDOW HEADER SIZES */
        --macOS-window-header-margin: 0.9375rem 0;
        --macOS-window-header-pading: 0 0.9375rem;
        --macOS-window-header-title-font-size: 1.15rem;
        --macOS-window-header-title-font-weight: 700;
        --macOS-window-header-title-width: 70vw;


        /* "MACOS" WINDOW CONTENT  SIZES */
        --macOS-window-content-width: 97.35%;
        --macOS-window-content-height: 60vh;

        /* PROJECT CARD CAROUSEL SIZES*/
        --project-cards-carousel-limit-height: 100vh;
        --project-cards-carousel-limit-width: 80.38vw;
        --project-cards-carousel-nav-width: 70vw;
        --project-cards-carousel-button-width: 0.3125rem;
        --project-cards-carousel-button-height: 0.3125rem;

        /* PROJECT CARD SIZES*/
        --project-cards-width: 80vw;
        --project-cards-height: 55vh;
        --project-cards-title-font-size: 160%;

        /* PROJECT CARDS IMG  SIZES*/
        --project-cards-img-width: 70vw;
        --project-cards-img-height: 43vw;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        max-height: fit-content;
    }

    .ham-menu {
        display: inline-block;
    }

    .sidebar {
        margin: 6.25rem 0 0 0.625rem;
    }

    .sidebar__navigation {
        display: none;
    }

    .sidebar__contacts {
        display: none;
    }

    .offer__scroll-container {
        overflow-y: visible;
        overflow-x: visible;

        margin: 0 0 4.375rem 0;
        padding: 0;
    }

    .offer__scroll-container::-webkit-scrollbar {
        width: 0.0625rem;
    }
    
    .offer__scroll-container::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 0;
    }

    .main-container {
        margin: var(--margin-top-screen) 0 0 0.625rem;
    }

    .main-container section + section {
        margin: 2.1875rem 0 0 0;
    }

    .main-container section:last-of-type {
        margin: 2.1875rem 0;
    }

    .section__content button {
        margin: 0;
    }

    .footer-mobile {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        padding-right: 0.625rem;
    }

    .footer-desktop {
        display: none;
    }
}