#project-card-1:checked ~ .project-cards-carousel {
    margin-left: 0;
}

#project-card-2:checked ~ .project-cards-carousel {
    margin-left: -100%;
}

#project-card-3:checked ~ .project-cards-carousel {
    margin-left: -200%;
}

#project-card-4:checked ~ .project-cards-carousel {
    margin-left: -300%;
}

#project-card-5:checked ~ .project-cards-carousel {
    margin-left: -400%;
}

#project-card-6:checked ~ .project-cards-carousel {
    margin-left: -500%;
}

#project-card-7:checked ~ .project-cards-carousel {
    margin-left: -600%;
}

#project-card-1:checked ~ nav #project-card-1-label {
    background-color: var(--color-bg-project-cards-nav-bar);
}

#project-card-2:checked ~ nav #project-card-2-label {
    background-color: var(--color-bg-project-cards-nav-bar);
}

#project-card-3:checked ~ nav #project-card-3-label {
    background-color: var(--color-bg-project-cards-nav-bar);
}

#project-card-4:checked ~ nav #project-card-4-label {
    background-color: var(--color-bg-project-cards-nav-bar);
}

#project-card-5:checked ~ nav #project-card-5-label {
    background-color: var(--color-bg-project-cards-nav-bar);
}

#project-card-6:checked ~ nav #project-card-6-label {
    background-color: var(--color-bg-project-cards-nav-bar);
}

#project-card-7:checked ~ nav #project-card-7-label {
    background-color: var(--color-bg-project-cards-nav-bar);
}