.project-cards__carousel-limit {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    width: var(--project-cards-carousel-limit-width);
    height: var(--project-cards-carousel-limit-height);
}

.project-cards__carousel-limit input {
    display: none;
}

.project-cards-carousel {
    display: flex;
    flex-direction: row;
    width: var(--projet-cards-carousel-width);
    height: var(--projet-cards-carousel-height);

    transition: .6s;
}   

.project-cards-carousel__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: var(--project-cards-carousel-nav-width);
    height: var(--project-cards-carousel-nav-height);

    margin: 6px 0;
}

.project-cards-carousel__nav label {
    cursor: pointer;

    height: var(--project-cards-carousel-nav-bar-height);
    width: var(--project-cards-carousel-nav-bar-width);

    border: 1px solid var(--color-border-project-cards-nav-bar);
    border-radius: 5px;

    margin: 6px;

    transition: .6s;
}

.project-cards-carousel__nav label:hover {
    background-color: var(--color-bg-project-cards-nav-bar);
}