:root {
    /* FONT */
    --font-dm-sans: "DM Sans", sans-serif;
    --font-project-cards-header-title: "Sixtyfour", sans-serif;
    
    /* COLORS */
    --color-bg-page: #2F333D;
    --color-bg-main-container-section-border: #282C34;
    --color-bg-main-container-section-content: #383E4A;
    --color-h1: #E5C07B;
    --color-h2: #d19a66;;
    --color-text-navgaition: #E06C75;
    --color-text-main-content: #abb2bf;
    --color-text-footer: #98C379;
    --color-border: #D9D9D9;
    --color-circle1: #E06C75;
    --color-circle2: #E5C07B;
    --color-circle3: #98C379;
    --color-project-cards-header-title: #61AFEF;
    --color-project-cards-repo-book-icon: #D9D9D9;
    --color-project-cards-techs-icons: #E06C75;
    --color-project-cards-footer: #C678DD;

    /* "MACOS" VISUALISER SCROLL SIZE */
    --macOS-visualiser-scroll-height: 530px;

    /* "MACOS" WINDOW SIZES */
    --macOS-window-width: 600px;
    --macOS-window-border-radius: 10px;

    /* "MACOS" WINDOW HEADER SIZES */
    --macOS-window-header-margin: 10px 0;
    --macOS-window-header-pading: 0 10px;
    --macOS-window-header-title-font-size: 1.15rem;
    --macOS-window-header-title-font-weight: 700;
    --macOS-window-header-title-width: 522px;
    --macOS-window-header-title-position: 35%;

    /* "MACOS" WINDOW CONTENT  SIZES */
    --macOS-window-content-width: 580px;
    --macOS-window-content-height: 430px;
    
    /* PROJECT CARD SIZES*/
    --project-cards-width: 440px;
    --project-cards-height: 405px;
    --project-cards-border-radius: 10px;

    /* PROJECT CARDS TECHS IMG SIZES*/
    --project-cards-techs-img-height: 13px;
    --project-cards-techs-img-width: 13px;

    /* PROJECT CARDS IMG  SIZES*/
    --project-cards-img-width: 330px;
    --project-cards-img-height: 170px;
    --project-cards-img-border-radius: 10px;
}